
{% extends "generic_base.html" %}

{% block content %}

	<div class="container">
		<h1>Abotu Davids Blog</h1>
		<div class="row">
			<div class="col-md-6">
		    {% load static %}

				<img src="{% static 'posts/front.jpg' %}" class="img-responsive center-block"/>
			</div>

			<div class="col-md-6">
				<p>Coloring book you probably haven't heard of them cold-pressed fanny pack, plaid biodiesel fixie aesthetic gastropub activated charcoal. Chillwave snackwave asymmetrical, tote bag vape shabby chic cred poutine tattooed. Tumblr jean shorts man bun, brooklyn flexitarian church-key artisan tousled intelligentsia swag poke you probably haven't heard of them XOXO. Kickstarter 3 wolf moon craft beer pinterest. Succulents pinterest messenger bag, fixie slow-carb next level organic try-hard tumeric 8-bit aesthetic ethical. Street art vape squid, keytar helvetica synth PBR&B small batch banjo umami meditation. Messenger bag kinfolk synth, try-hard deep v activated charcoal organic squid sartorial. Marfa kogi bicycle rights copper mug chillwave succulents,</p>
			</div>
		</div>
	</div>

{% endblock %}

