{% extends "generic_base.html" %}

{% block content %}

	<div class="container" >
		<a href="{% url 'post_detail' post.id %}"><h2>{{ post.title }}</h2></a>
	  <h4>  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}</h4>
		<div class="row">
			<div class="col-md-6">
				<img src="{{ post.image.url }}" class="img-responsive" style="max-height:500px"/>
			</div>
			<div class="col-md-6">			
				<p>{{ post.body }}</p>
			</div>
		</div>

		<div id="disqus_thread"></div>
		<script>

		var disqus_config = function () {
		this.page.identifier = 'post-{{ post.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//davidsinnerblog.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>	                                


	</div>
{% endblock %}